*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    ul{
        padding: 0;
        margin: 0;
    }
    /*hago un reset de los ul porque bootstrap por defecto les agrega padding y margin*/
}