$bg-color:  rgb(236,195,139);
$font-style-script: 'Style Script', cursive;
$font-poppins:'Poppins', sans-serif;
$redes: (email: #db4a39,
      whatsapp: #4fcb5b,
     instagram:  #3f729b,
      facebook: #3b5998,
       twitter: #55acee);