@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Style+Script&display=swap');
*{
    margin: 0;
    padding: 0;
    background-color: rgb(236,195,139);
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.logo{
    display: flex;
    justify-content: center;
}

.navegador ul{
    list-style:none ;
    display: flex;
    justify-content: space-evenly;
}

.navegador ul li a{
    font-family: 'Style Script', cursive;
    display: block;
    padding: 10px 20px;
    font-size: 30px;
    align-items: center;
}

.portada{
    height: 400px;
    background-image: url(./Multimedia/persona-tatuando-en-blanco-y-negro-62d8ff2fbe3bb.webp);
    background-size: cover;
    background-attachment: fixed;
}

.imagenes-inicio{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.imagenes-inicio li{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pie-de-pagina div{
    list-style: none;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pie-de-pagina ul li{
    display: flex;
    justify-content: center;
}

/*--------------------------------------------------------------------*/

.barra-busqueda{
    padding: 0px;
    display: flex;
    justify-content: end;
}

.barra-busqueda input{
    width: 600px;
    height: 35px ;
}

.listado-tatus{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0px;
}

.listado-tatus li h3{
    display: flex;
    justify-content: center;
}
.listado-tatus li{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px 20px;
}

/*--------------------------------------------------------------------*/

.formulario{
    display: flex;
    justify-content: center;
}

.caja-formulario{
    border: 3px #000000 solid;
    height: 450px;
    width: 300px;
    margin: 30px;
    justify-content: center;
}

.caja-formulario form{
    text-decoration: none;
    margin: 10px;
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
}

/*--------------------------------------------------------------------*/

.centrado-nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

.centrado-nosotros div{
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}

.imagen-nosotros{
    width: 500px;
    margin: 10px;
}

#texto-inferior{
    margin: 20px;
}

/*--------------------------------------------------------------------*/

.centrado-FAQ{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

.centrado-FAQ div{
    display: flex;
    justify-content: center;
}

.centrado-FAQ p{
    padding: 10px;
}

.imagen-FAQ{
    width: 300px;
    margin:10px;
}